.login_form_container {
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 5000;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Roboto',sans-serif;
}
.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 85%;
    box-shadow:  0px 0px 15px -7.5px;
    border: 2px solid #ccc;
    border-radius: 6px;
    min-width: 400px;
    min-height: 550px;
}
.login_form_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #2b2b2b;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white; 
}
.login_form_header h1 {
    margin: 0 0 1vw 0;
    font-size: 2vw;
}
.login_form_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.login_form_input {
    width: 75%;
    height: 25px;
    text-indent: 5px;
    outline: none;
    border-radius: 16px;
    border: 2px solid #aaa;
    transition: border-color 300ms ease-in-out;
}
.login_form_input.invalid {
    border: 2px solid red;
}
.login_form_input.invalid:focus {
    border: 2px solid red;
}
.login_form_input.valid:focus{
    border: 2px solid green;                                                                            
}
.login_form_input.valid{
    border: 2px solid green;
}
.login_form_input:focus {
    border: 2px solid rgb(255,102,0);
    transition: border-color 300ms ease-in-out;
}
.login_form button {
    margin-bottom: 35px;
    width: 50%;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #2b2b2b;
    transition: background-color 300ms ease-in-out;
    color: white;
    font-size: 20px;
}
.login_form button:hover {
    background-color: rgb(255,102,0);
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}
.login_form a {
    margin: 0 0 5px 0;
    color: #2b2b2b;
    text-decoration: underline;
}