form {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5200;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.form_register {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 95%;
  box-shadow: inset 0px 0px 15px -7.5px;
  border-radius: 12px;
  background-color: white;
}

.register_header {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_body {
  height: 55%;
}
.form_container {
  height: auto;
}

.input_alert {
  margin: 0;
  font-size: 0.8vw;
  opacity: 0;
  color: red;
}
.input_alert.active {
  opacity: 1;
}

.form_container p {
  font-weight: bold;
  margin: 0.25vw;
}

.form_container input {
  width: 40%;
  height: 1.4vw;
  border-radius: 16px;
  border: none;
  outline: none;
  text-indent: 10px;
  transition: background-color 400ms linear;
}

.form_container input:focus {
  transition: background-color 400ms linear;
  background-color: #ccc;
}

.register_body button:active {
  box-shadow: 0px 0px 5px 5px;
  background-color: red;
  transition: background-color 0ms linear;
}
