.main_low_component {
    z-index: 150;
    position: relative;
    background-color: rgb(0, 0, 0);
  
}

.main_low_component ul {
    background-color: #000000;
    display: flex;
    justify-content: center;
    margin: 1% 1% 1% 1%;
    box-shadow: 2px 2px 20px 3px black;
    flex-direction:row ;
    padding: 0;
}

.main_low_component li {
    width: 100%;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction:column ;
    margin: 0.5% 0.5% 0% 0%;
}

.main_low_component h1  {
    font-size: 2.5vw;
}
.main_low_component p {

    font-size: 1.5vw;
    
}
.main_low_component li:hover {

    box-shadow: 2px 2px 2px 2px rgba(113, 192, 113 ,1.5);

}

@media (max-width : 768px) {

    .main_low_component ul {
        flex-direction: column;
        
        margin: 0%;
        width: 98%;
        margin-left: 1%;
        background-color: white;
        box-shadow: 5px 5px 20px 2px ;
    }
    .main_low_component li {
        width: 65%;
        justify-content: center;
        box-shadow: 5px 5px 20px 2px ;
    }
    
}
