.low_component_container {
    margin: 0.2vw 0 0.2vw 0;
    position: relative;
    z-index: 300;
    background-color:#1b1b1b;
    box-shadow: 2px 2px 20px 2px black;
    display: flex;
    width: 100%;
}   
.low_component_container ul {
    display: flex;
    flex-direction:column;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}
.low_component_container.open ul {
    animation: blink 1500ms linear infinite;
}

@keyframes blink {
    50% {                                                                                   
        opacity: 0;
    }
}
.low_component_container li {
    box-shadow: 1px 1px 5px 1px black;
    background-color:#2b2b2b;
    margin: 0.5vw;
    padding: 0.5vw;
    list-style-type: none;
    size: 100%;             
}
.low_component li:hover {
    background-color: #3b3b3b;
    box-shadow: 3px 3px 10px 2px black;
}
.low_component h1 {
    color: white;
    margin: 0;
}