.low_component {
    position: relative;
    z-index: 300;
    width: 100%;
    background-color: white;
    margin-top: 0;
    
}

.low_component_tarjetas {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.low_component_tarjetas ul { 
    display: flex;
    margin: 0;
    padding: 0;
}
.low_component_tarjetas li{
    width: 10vw;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: row;
}