.toggle_button {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5vw;
    margin: 5% 0 0 5%;
    width: 10vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0%;
    box-sizing: border-box;
    
}
.toggle_button:focus {
    outline : none; 
}
.toggle_button_line {
    width: 20px;
    height: 2px;    
    background-color: white;
    margin: 12% 0 12% 0;
}

@media (max-width : 768px) {
    .toggle_button {
        margin: 5% 0 0 15%;
    }
}