.toggle_button {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2vw;
    width: 5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0%;
    box-sizing: border-box;

}
.toggle_button:focus {
    outline : none; 
}
.toggle_button_line {
    width: 25px;
    height: 3px;
    background-color: white;
}

