.sidedrawer{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 14.5rem;
    height: 100%;
    z-index: 700;
    transform: translateX(-15rem);
    transition: transform 250ms ease-out;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2px;
}
@media(max-width : 768px) {

    .sidedrawer {
        height: 35rem;
    }

}
.sidedrawer.open {
    transform: translateX(0rem);
    transition: transform 400ms ease-in;
}

.sidedrawer_button {
    padding: 0.1vw;
    background-color: black;
}
.sidedrawer_button button {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 2vw;
}
.sidedrawer_button button:hover {
    color: rgb(253,207,0);
    cursor: pointer;
}
.sidedrawer::-webkit-scrollbar {
    width: 0.5vw;
}
.sidedrawer::-webkit-scrollbar-track {
    background-color: black;
}
.sidedrawer::-webkit-scrollbar-thumb{
    height: 20vw;
    border-radius: 16px;
    background-color: rgb(253,207,0);
}

.sidedrawer_list {
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
}
.sidedrawer_title {
    background-color: transparent;
    height: 2.8vw;
}
.sidedrawer_title li {
    padding: 0;
    margin: 0;
    background-color: rgb(253,207,0);
}

.sidedrawer_content li {
    list-style: none;
    height: auto;
    margin: 0.4vw 0 0.4vw 0;
    padding: 0.4vw 0 0.4vw 0;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    transition: background-color 450ms linear;
}

.sidedrawer_content li:hover{
    background-color: #6b6b6b;
    transition: background-color 450ms linear;
    
}
.sidedrawer_content li:hover a {
    margin-left: 2.5vw;
    color: rgb(253,207,0);
    text-decoration: underline;
    transition: margin-left 300ms linear;
}
.sidedrawer a {
    color: #9b9b9b;
    text-decoration: none;
    margin: 0 0 0 0.5vw;
    width: 90%;
    transition: margin-left 300ms linear;
}
.sidedrawer h1 {
    margin: 0 0 0 0.5vw;
    color: black;
    padding: 0.3vw 0 0.3vw 0;
    font-size: 1.5vw;
}
