.side_drawer {
    z-index: 500;
    background-color: white;
    box-shadow: 2px 2px 22% rgba(0,0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0; 
    width: 18rem;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    overflow-y: scroll;
}
.side_drawer::-webkit-scrollbar {
    width: 0.5vw;
    visibility: hidden;
  }
.side_drawer::-webkit-scrollbar-track {
    opacity: 0;
    background-color: rgb(253 , 207, 0);    
}
.side_drawer::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
    border-radius: 12px;
    height: 2vw;
}
body::-webkit-scrollbar {
    width: 0.6vw;
    visibility: hidden;
  }
body::-webkit-scrollbar-track {
    background-color: #1b1b1b;
}
body::-webkit-scrollbar-thumb {
    background-color:#6b6b6b;
    border-radius: 16px;
}
.side_drawer.open {
    overflow-y: scroll;
    transform: translateX(0%);
}
.side_drawer_tarjetas {
    width: 100%;
    text-align: left;
}
.side_drawer_close {
    padding: 1.1% 0 1.1% 0;
    background-color: rgb(253 , 207, 0);
    height: 3;
}
.side_drawer_close:hover {
    cursor: pointer;
}
.side_drawer_close a {
    cursor: pointer;
    margin: 0% 0% 0% 1vw;
    font-size: 1.5vw;
    transition: color 350ms linear;
}
.side_drawer_close:hover a{
    color: black;
    transition: color 350ms linear;
}
.side_drawer_ul {
    margin: 0;
    padding:  0;
}
.side_drawer_tarjetas li{
    border-radius: 16px;
    font-size: 1.2vw;
    padding: 2% 0 2% 0;
    margin: 2% 1% 2% 2%;
    transition: background-color 200ms linear;
}
.side_drawer_tarjetas li:hover {
    background-color: rgb(158, 158, 158);
    transition: background-color 600ms linear;
    cursor: pointer;
}
.side_drawer_tarjetas a{
    margin-left: 0.5vw;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.side_drawer_tarjetas li:hover a{
    color: rgb(253 , 207, 0);
}