.main_component {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 200;
    background-color: #aaaaaa;
    cursor: alias;
    font-family: 'Roboto', sans-serif;  
    cursor: default;
}

.main_central {
    top: 0;
    z-index: 500;
    background-color: rgba(253, 207, 0, 0.7);
    width: 100%;
    height: 23.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    vertical-align: text-bottom;    
}

.main_central h1 {
    transform: translateY(10rem);
    height: 5vw;
}
.main_central button {
    height: 4vw;
    margin-left: 1vw;
    width: 15vw;
    border-radius: 6px;
    background-color: #1b1b1b;
    border: hidden;
    color: white;
    cursor: pointer;
    font-size: 3vw;
    transform: translateY(11.2rem);
    transition: box-shadow 200ms linear;
    transition: background-color 250ms linear;  

}
.main_central button:hover {
    color: rgb(0, 0, 0);
    transition: color 350ms linear;
    box-shadow: 2px 2px 20px 2px rgb(0, 0, 0);
    transition: box-shadow 300ms linear;
    background-color: white;
    transition: background-color 250ms linear;
}
.main_uno {
    position: relative;
    z-index: 600;
    transition: transform 500ms ease-in;
}
.main_uno.close {
    z-index: 600;
    transition: transform 500ms ease-in;
}
.main_uno_descarga {
    z-index: 600;
    width: 100%;
    height: 16rem;
    background-color: #1b1b1b;
    margin-top: 7rem;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1vw;
    transform: translateY(0);
}

.main_uno_arrow {
    margin-top: -0.1%;
    padding: 0;
    z-index: 500;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_uno_arrow i {
    border: solid rgba(253, 207, 0, 1);
    border-width:  2px 0 0 2px ;
    margin-bottom: 0.6vw;
    margin-top: 0vw;
    height: 0.4rem;
    width: 0.4rem;
    transform: rotate(225deg);
    background-color:transparent;  
}
.main_uno_arrow i:hover {
    transition: border-color 350ms;
    cursor: pointer;
    border-color: #ffffff;
}

.uno_content {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0% 5% 0% 5%;
   
}
.main_uno_descarga button {
   background-color:#1b1b1b;
   color:white; 
   width: 33%;
   height: 2.2rem;
   font-size: 1.5rem;
   border-radius: 16px;
   border: 1px solid rgb(253, 207, 0);
   transition: color 650ms linear;
   transition: border 650ms linear;
   transition: background-color 650ms;
}
.main_uno_descarga button:hover {
    color: rgb(253, 207, 0);   
    background-color: #3b3b3b;
    text-decoration: solid;
    cursor: pointer;
    transition: color 650ms linear;
    transition: border 650ms linear;
    transition: background-color 650ms;
    
}

.main_uno button:active {
    opacity: 0.5;
}

@media (max-width:768px) {
    .main_component{
        height: 2vw;
    }
    .main_uno{
        transform: translateY(-10%);
        height: 16rem;
        width: 100%;
        font-size: 2vw;
    }
    .main_uno button {
        font-size: 3vw;
        width: 22vw;
        height: 5.5vw;
        
    }

}

.main_dos {
    width: 100%;
    height: 30vw;
    z-index: 200;
    background-color: #2b2b2b;
    box-shadow: 2px 2px 20px 2px black;
}
.main_dos_container {
    height: 100%;
}
.main_dos ul {
    height: 100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_dos li {
    position: relative;
    list-style: none;
    border-radius: 2px;
    text-align: center;
    height: auto;
    box-shadow: 2px 1px 16px 0.5px ;
    margin: 0.5% 0.5% 0% 0.5%;
    padding: 2% 2% 0% 2%;
    transition: box-shadow 400ms linear;
    transition: background-color 400ms linear;
}
.main_dos li:hover {
    background-color: #3b3b3b;
    box-shadow: 1px 5px 44px 5px;
    transition: box-shadow 400ms linear;
    transition: background-color 400ms linear;
}
.main_dos h1 {
    color: rgb(253, 207, 0);
    font-size: 2vw;
}
.main_dos p {
    color: white;
    margin-top: 2vw;
    font-size: 1.3vw;
    height:50%;
}
.button_more {
    height: auto;
    vertical-align: bottom;
    font-size: 1rem;
    width: 8rem;
    border-radius: 16px;
    color: white;
    border-color: #1b1b1b;
    background-color: #1b1b1b;
    transition: background-color 500ms linear;
    transition: color 500ms linear;
    
}

.button_more:hover {
    border-color:rgb(253, 207, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0 , 1);
    background-color: rgb(255, 208, 0);
    cursor: pointer;
    color: black;
    transition: color 700ms;
    transition: background-color 500ms linear;
}
@media (max-width :768px) {

}

.arrow_container_left {
    position: absolute;
    top: 50%;
    z-index: 500;
    width: auto;
    transform: translate(95vw ,-50%);
}
.arrow_container_right {
    margin-left: 1vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    width: auto ;
}
.arrow_container_left i {
    border: solid rgb(253, 207, 0);
    border-width: 0 2px 2px 0;                                                                                                                              
    display: inline-block;
    padding: 8px;
  }   
  .arrow_container_right i {
    border: solid rgb(253, 207, 0);
    border-width: 0 2px 2px 0;                                                                                                                              
    display: inline-block;
    padding: 8px;
  }     
  
  .arrow_container_left p {
      margin: 0;
      padding: 0 0 0 0;
      height: 100%;
  }
  .arrow_container_right p {
    padding: 0 0 0 0;
    margin: 0;
    height: 100%;
}
  
  .right {
    margin-left: 0.5vw;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .left {
    margin-right: 0.5vw;
    transform: translateX();
    transform: rotate(-45deg);      
    -webkit-transform: rotate(-45deg);
  }

  .header_low_component {
      background-color: #2b2b2b;
      display: inline-flex;
      width: 100%;
      z-index: 500;
      position: relative;
      margin: 0.5vw 0 0.5vw 0;
      padding: 0;
      justify-content: center;
  }

  .header_low_component p {
      margin: 0;
      padding: 0;
      font-family: 'Roboto' sans-serif;
      font-size: 1.55vw;
      color: white; 
  }