.nav_tools_container {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(-28vw);
    display: flex;
    flex-direction: row;
    z-index: 10200;
    height: 4.5%;
    width: 10%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rebeccapurple;
 
}
.nav_tools {
    transform: translateX(228px);
    visibility: visible;
}   

.nav_tools ul {
    margin: 0;
    padding: 0;
}

.nav_tools li {
    margin: 0 8px 0 8px;
    list-style : none;
}

.nav_tools button {
    height: 100%;
    border: none;
    border-radius: 16px;
    background-color: #2b2b2b;
    color: rgb(253, 207, 0);
    font-family: 'Roboto' , sans-serif;
    width: 120px;
}
.nav_tools button:hover {
    color: rgb(111 , 0 ,255);
    font-size: 1.3vw;
    transition: background-color 200ms ease-out;
}