.container {
  display: flex;
  flex-direction: column;
}

.navigation_bar {
  display: flex;
  justify-items: center;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0.25vw 0 0.25vw 0;
  background-color: white;
  z-index: 1000;
  box-shadow: black 2px 2px 20px 2px;
}
.nav_bar_logo {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  font-size: 2vw;
  font-family: "Baloo Thambi 2", cursive;
  height: 100%;
  margin: 0 30px 0 30px;
}
.brand_logo {
  width: 3vw;
  height: 3vw;
  transition: width 200ms, height 200ms, opacity 200ms linear;
  opacity: 0.65;
}
.brand_logo:hover {
  cursor: pointer;
  width: 4.25vw;
  height: 4.25vw;
  opacity: 1;
  transition: width 200ms, height 200ms, opacity 200ms linear;
}
.nav_bar_input {
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 90%;
  border-radius: 16px;
  transition: background-color 400ms linear;
}
.nav_bar_input:hover {
  background-color: rgb(255, 102, 0);
  transition: background-color 400ms linear;
}

.nav_bar_input input {
  margin-left: 0vw;
  height: 60%;
  padding-left: 6px;
  border-radius: 16px;
  border: 0;
  width: 80%;
  transition: margin-left 300ms linear;
}
.nav_bar_input:hover input {
  margin-left: 3vw;
  transition: margin-left 300ms linear;
}

.nav_bar_tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 2vw;
  width: 30%;
}
.nav_bar_tools button {
  height: 90%;
  width: 100%;
  background-color: transparent;
  color: rgb(111, 0, 255);
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  margin: 0 3px 0 3px;
  border: none;
  transition: background-color 600ms, font-size 200ms linear;
  border-radius: 16px;
}

.nav_bar_tools button:hover {
  font-size: 1.5vw;
  color: black;
  background-color: rgb(255, 102, 0);
  transition: background-color 300ms, font-size 200ms linear;
}
.social_media_logos {
  margin-left: 9.5vw;
  transform: translateX(0);
  background-color: transparent;
  height: 90%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: background-color 300ms linear;
}

.social_media_logos:hover {
  background-color: rgba(255, 102, 0);
  transition: background-color 300ms linear;
}
.logo_social {
  width: 20px;
  height: 20px;
  margin: 0;
  transition: margin 300ms linear;
}
.social_media_logos:hover .logo_social {
  cursor: pointer;
  margin: 0 0.8vw 0 0.8vw;
  transition: margin 300ms linear;
}

.download_component_container {
  display: flex;
  position: fixed;
  height: 80%;
  z-index: 500;
  justify-content: center;
  width: 100%;
  top: 0;
  opacity: 1;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  transform: translateY(-1.5vw);
  transition: transform 1000ms ease-out;
}
.download_component_container.close {
  transform: translateY(-34.5rem);
  transition: transform 750ms ease-out;
}
.download_component_container.close:hover {
  transform: translateY(-33.5rem);
}
.download_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #aaaaaa;
  margin-top: 3vw;
  box-shadow: 2px 2px 12px 2px;
}

.download_component li {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.download_component_arrow {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  bottom: 0;
  margin-top: 1v;
  background-color: rgb(111, 0, 255);
  transition: background-color 600ms ease;
}

.arrow {
  border: solid;
  border-color: white;
  border-width: 0px 4px 4px 0px;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
  transition: transform 500ms linear;
  margin: 1vw 0 0 0;
  transition: border-color 250ms ease-in-out;
}
.arrow.close {
  transform: rotate(45deg);
  margin: 0;
  transition: transform 500ms linear;
  border-color: rgb(111, 0, 255);
  transition: border-color 250ms ease-in-out;
}
.download_component_arrow:hover {
  transition: background-color 600ms ease;
  
}
.download_component_arrow:hover .arrow {
  border: solid;
  border-color: white;
  border-width: 0px 4px 4px 0px;
  transition: border-color 250ms ease-in-out;
}
