.Person {
     display: block;
     width: 85%;
     margin: 2% auto;
     border: 2% solid black;
     box-shadow: 1%  black ;
     padding : 0%;
     font-size: 2vw;
     font-family: 'Roboto' , sans-serif;
     color: white;
     border: 5px #222222;
     background-color:red;
     text-align: center;
}
.Pass {
     display:flex;
     text-transform: lowercase;
     color : #282c34;
     cursor: pointer;
     background-color: #ffffff;
     box-shadow: #282c34 0, 2px 3px;
     border: 2% solid white;
     margin:auto;
     width:  55%;
     font-family: 'Roboto' , sans-serif;
     border-radius: 1%;
}    
.BotonRegistro {
     font-size: 1.5vw;
     margin: 1%;
     font-family: 'Roboto', sans-serif;
     background-color: #4b5052;
	border: 2px solid black;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	display: inline-block;
     width: auto;
}


.body {
     font-family: 'Roboto' , sans-serif;
     background-color: #282c34;
 }

 .probarFont {
      font-family: 'Roboto' , sans-serif;
 }

 .DivCuerpo{
     display: inline-flex;     
     width: auto;
     margin: 1%;
     background-color: white;
     border: 2px #282c34 solid ;
 }

 
.Cuerpo {
     text-align: center;
     width: 50%;
     margin : 2%;
     background-color: white;
     
}

.parrafos {
     font-family: 'Roboto' , sans-serif;
}

.Pregister {
      margin : 0%;
      font-family : 'Roboto' , sans-serif;
      font-size: 1.5vw;
}

.TituloRegistro {
      margin : 5%;
      padding: 2.5%;
}