.Person {
     display: block;
     width: 85%;
     margin: 2% auto;
     border: 2% solid black;
     box-shadow: 1%  black ;
     padding : 0%;
     font-size: 2vw;
     font-family: 'Roboto' , sans-serif;
     color: white;
     border: 5px #222222;
     background-color : #282e28;
     text-align: center;
}
