.navbar {
    width: 100%;
    height: 5%;
    z-index: 200;
    top : 0;
    left: 0;
    margin: auto;
    background-color: #000000;
    color: antiquewhite;
    position: fixed; 
    box-shadow: 0.5px 0.5px 5px 0.5px white;
}
.navbar_logo {
    margin-left: 5vw;
}
.navbar_logo  a{
    color: white; 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
}

.navigation_bar {
    align-items: center;
    display: flex;
    height: 100%;
    padding : 0% 2%;
    margin-top: 0;
}

.navbar_search_bar {
    margin-top: 0.4%;
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-left: 5%;
    height: 100%;
}

.navbar_search_bar label {
    font-size: 1vw;
    margin-right: 2%;
    margin-top: 1.5%;
    color: rgba(113, 192, 113 ,1.5);
    
}
.navbar_search_bar input {
    color: white;
    margin-top: 2%;
    width: 100%;
    height: 40%;
    background-color: #000000;
    border: solid rgba(113, 192, 113 ,1.5) 0.5px;
    border-radius: 3px;
}

.navbar_search_bar input:focus {
    background-color: #ffffff49;
}
@media (max-width :768px) {
    .navbar_search_bar input {
        opacity: 0;
    }

    .navbar_search_bar label {

        visibility: hidden;
        
    }
}
.spacer {
    flex: 1; 
}

.navigationbar_items  a{
    color: white; 
    padding:  0;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}
.navigationbar_items  a:hover{
    
    color: rgba(113, 192, 113); 
    font-size: 1.22vw; 
    text-decoration: none
    ;
    
}

.navigationbar_items  a:active{
    color: #175282; 
    text-decoration: none;
    
}

.navigationbar_items li {
    padding: 3vw;
}

.navigationbar_items ul {
    display: flex; 
    margin: 0;
    padding : 0; 
    list-style: none;

}

.navbar_logo  a{
    color: white;
    font-family: 'Roboto' ,sans-serif;
    font-size: 1.7vw;
}
.navbar_logo  a:hover {
    font-size: 1.8vw;
    color : rgba(113, 192, 113 ,1.5)
}

@media (max-width : 768px) {
    .navigationbar_items {
        display: none;
    }

    .navbar_logo {
        margin-left: 40vw;
    }
    .navbar_logo a {
        font-size: 3.5vw;
    }
    .navbar_logo a:hover {
        font-size: 3.5vw;
    }
}