.nav_bar {
    background-color: #1b1b1b;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 1.5rem;
    flex-direction: row;
    color: white;
    border-bottom: 1px solid rgba(253 , 207 , 0 ,0.7);
    padding: 0.2vw 0.2vw 0.2vw 0.2vw;
    font-family: 'Roboto', sans-serif;
}
.nav_bar_title li {
    display:flex;
    text-align: center;
    width: 10vw;
    list-style: none;
    justify-content: center;
    font-size: 3vmin;
    cursor: pointer;
}
.nav_bar_title li:hover {
    border-radius: 12px;
    color: rgb(253 , 207 , 0);
    transition: background-color 200ms linear;
    background-color : #8080803d;
}

@media (max-width : 768px) {

    .nav_bar {
        display: flex;
        height: 5vw;
        text-align: center; 
        
    }
    .nav_bar_list{
        visibility: hidden;
    } 
    .nav_bar_input {
        visibility: hidden;
    }
    .nav_bar_list{
        display: flex;
        flex-direction: row;
        width: 100vw ;
    }
    .nav_bar_list ul {
        justify-content: center;
    }
}

.nav_bar_list{
    display: flex;
    flex-direction: row;
}
.nav_bar_list ul{
    position: absolute;
    right: 2rem;
    margin : 0;
    display: flex;
    flex-direction: row;
}
.nav_bar_list li {
    margin: 0.2vw 0.4vw 0 0.4vw ;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: #1b1b1b;
    transition: background-color 400ms linear;
}
.nav_bar_list li:hover {
    
    transition: background-color 400ms linear;
    background-color: #808080d0;
    cursor: pointer;
    
}
.nav_bar_list a {
    color: white;
    text-decoration: none;
    margin: 0 2vw 0 2vw;
    font-size: auto;
    transition: color 400ms ease-in-out ;
}
.nav_bar_list a:hover {
    color : rgb(253 , 207 , 0); 
    transition: color 400ms ease-in-out ;
}
.nav_bar_input {
    display: flex;
    flex-direction: row;
    height: 1.2rem;
    justify-content: center;
    border: 0.8px solid rgba(253 , 207 , 0 , 0.95);
    border-radius: 3px;
    width: 25%;
    margin: 0.1vw 0 0 0.5vw;
}

.nav_bar_input input:hover{
    cursor: pointer;
}

.nav_bar_input input {
    background-color: rgba(88, 88, 88, 0.397);
    width: 100%;
    border: hidden;
    
}
.uno_arrow {
    width: 100%;
   justify-content: center;
    display: flex;
    color: white;
}