.about_component_slider_button_left {
    position: absolute;
    left : 0; 
    width: 7.5%;
    height: 100%;
    z-index: 400;
    transform: translateY(-50%);
    background-color: rebeccapurple;
}

.about_component_slider_button_right {
    position: absolute;
    right: 0; 
    width: 7.5%;
    height: 100%;
    z-index: 400;
    transform: translateY(-50%);
    background-color: rebeccapurple;

}